
body {
  margin:50px 0px; padding:0px;
  text-align: center;
  align: center;
}
body {
  background-color: rgba(230, 173, 173, 0.193);
}
body {
  background-image: url("image.jpg");
}
.label {
 
  width: 100px;
}
textarea {
  margin:50px 0px; 
  padding: 10px;
  text-align: center;
  height: 200px;
  width: 300px;
}

.form-control{
  width:300px;
  margin-bottom: 10px;


}

.button{
  display:block;
}

.hidden{
  display:none;
}